---
title: "About - Paul Smith - Interaction Designer"
permalink: '/about/index.html'
layout: 'page.njk'
---

<h1 class="heading-title heading-title--separated">About Paul Smith</h1>

Hello my name is Paul and I am a public focussed designer and coder based just outside my rainy home town of Manchester, England.

{% imgr {
    imagePath: 'content/about-photo.jpeg',
    alt: 'Paul stood in front of a room full of people presenting about the DWP Design System',
    width: '800',
    height: '400',
    quality: '90'
  }
%}

I build products and services based on evidence helping organisations respond to the behaviours & raised expectations of users.

I have over 20 years experience, working in agile, multidisciplinary service and product teams.


I'm a designer with a strong technical & software engineering understanding as well as team management skills.

My primary areas of expertise are:

- Interaction Design (UX Design, User Experience Design).
- Product Design (Visual & User Interface Design)
- Frontend Development

Using these skills I have often worked as Lead Digital Designer for large public and private organisations such as [The BBC](https://bbc.co.uk), [Manchester United](https://manutd.com), [The Department for Work and Pensions](https://www.gov.uk/government/organisations/department-for-work-pensions), [The Ministry for Housing](https://www.gov.uk/government/organisations/department-for-levelling-up-housing-and-communities) and many high profile digital and product agencies.

---

<h2 class="heading-title heading-title--separated">Work history</h2>

A breif rundown of my recent career history. Full details can be found on my [LinkedIn profile](https://www.linkedin.com/in/paulmichaelsmith).
