---
title: "Home"
permalink: index.html
description: ""
eleventyComputed:
  eleventyNavigation:
    key: home
    title: "{{ title }}"
---
{% extends "layouts/base.njk" %}
{% block main %}
  <div class="contain contain--centered">
    <p>Hello! You've reached the home of Paul Smith, a designer based in rainy Manchester, UK.</p>
  </div>
{% endblock %}
