---
title: "Home"
permalink: index.html
description: "The personal website of Paul Smith, Lead Interaction Designer at the Department for Levelling Up, Housing and Communities"
entryCount:
  select: 5
  weeknotes: 5
eleventyComputed:
  eleventyNavigation:
    key: home
    title: "{{ title }}"
---
{% extends "layouts/base.njk" %}
{% block main %}

  <section class="prose">
    <p>Lead Interaction Designer at the Department for Levelling Up, Housing and Communities (<acronym title="Department for Levelling Up, Housing and Communities">DLUHC</acronym>). Read <a href="/about/" class="link link--onward">about Paul</a></p>
  </section>
  <!-- / .prose -->

  <hr class="section-break section-break--s">

  <section class="prose">
    <h2 class="heading-title heading-title--separated" id="select-articles">Select articles</h2>
  </section>
  <!-- / .prose -->

  <ul class="list list--entries list--spaced">
    {%- for item in collections.posts -%}
      {% if (loop.index <= entryCount.select) %}
      <li class="list__item">
        <time datetime="{{ item.date | date }}" class="list__item-datetime">{{ item.date | date("d LLLL y") }}</time>
        <a href="{{ item.url }}">{{ item.data.title }}</a>
      </li>
      {% endif %}
    {%- endfor -%}
  </ul>

  <div class="prose">
    <p><a href="/writing" class="link link--onward">All articles</a></p>
  </div>

  <hr class="section-break section-break--s">

  <section class="prose">
    <h2 class="heading-title heading-title--separated" id="weeknotes">Weeknotes</h2>
  </section>
  <!-- / .prose -->

  <ul class="list list--entries list--spaced">
    {%- for item in collections.weeknotes -%}
      {% if (loop.index <= entryCount.select) %}
      <li class="list__item">
        {# <time datetime="{{ item.date | date }}" class="list__item-datetime">{{ item.date | date("d LLLL y") }}</time>
        ldkldk
        <a href="{{ item.url }}" class="list__item-link">{{ item.data.title }}</a> #}
        <div class="list__item-datetime">
          S{{ item.data.weeknote.season }}E{{ item.data.weeknote.episode }}
        </div>
        <a href="{{ item.url }}" class="list__item-link">
          <time datetime="{{ item.date | date }}">
            {{ item.date | weekdate | date('dd MMM') }} &ndash;
            {{ item.date | weekdate(true) | date('dd MMM') }} {{ item.date | date('yyyy') }}
          </time>
        </a>
      </li>
      {% endif %}
    {%- endfor -%}
  </ul>

  <div class="prose">
    <p><a href="/weeknotes" class="link link--onward">All weeknotes</a></p>
  </div>

{% endblock %}
