{% extends "./base.njk" %}
{% block main %}

  <h1 class="heading-title heading-title--separated">{{ title }}</h1>
  {% if pagination.pageNumber > 0 %}
    <p>Page {{ pagination.pageNumber + 1 }}</p>
  {% endif %}

  <ul class="list list--entries list--spaced-l">
    {%- for item in collectionItems %}
    {% if pagination.data == "collections.weeknotes" %}
      <li>
         <div class="list__item-datetime">
          S{{ item.data.weeknote.season }}E{{ item.data.weeknote.episode }}
        </div>
        <a href="{{ item.url }}" class="list__item-link">
          <time datetime="{{ item.date | date }}">
            {{ item.date | weekdate | date('dd MMM') }} &ndash;
            {{ item.date | weekdate(true) | date('dd MMM') }} {{ item.date | date('yyyy') }}
          </time>
        </a>
      </li>
    {% else%}
      <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endif %}
    {%- endfor %}
  </ul>

 {% if pagination.href.previous or pagination.href.next %}

  <hr class="section-break section-break--decorative">

    <ul class="c-post-navigation">
      {% if pagination.href.previous %}
        <li class="c-post-navigation__item c-post-navigation__item--prev">
          <div class="c-post-navigation__item__label"><span aria-hidden="true">← </span>Previous </div>
          <a href="{{pagination.href.previous}}">{{ layoutData.pagination.prev.text | d("Previous page") | safe }}</a>
        </li>
      {% endif %}
      {% if pagination.href.next %}
        <li class="c-post-navigation__item c-post-navigation__item--next">
          <div class="c-post-navigation__item__label">Next<span aria-hidden="true"> →</span></div>
          <a href="{{pagination.href.next}}">{{ layoutData.pagination.next.text | d("Next page") | safe }}</a>
        </li>
      {% endif %}
    </ul>

 {% endif %}
{% endblock %}
