{% extends "layouts/post.njk" %}

{% block section_head %}
<div class="c-sectionhead c-sectionhead--weeknote">
  <h1 class="c-sectionhead__heading-1">
    <div class="c-sectionhead__strapline">
      <span aria-hidden="true">~</span> Weeknotes <span aria-hidden="true">~</span>&nbsp;
    </div>
    {{ page.date | date('cccc MMMM dd yyyy') }}
  </h1>
  <p class="c-sectionhead__note">
    <abbr title="Season {{ weeknote.season }}, Episode {{ weeknote.episode }}">S{{ weeknote.season | padstart(2) }}E{{ weeknote.episode | padstart(2) }}</abbr>
  </p>
</div>
{% endblock %}
