@mixin generate-font-face(
  $font-family,
  $font-file,
  $font-weight: normal,
  $font-style: false,
  $font-display: swap
) {
  @font-face {
    font-family: $font-family;
    src: url('#{$font-file}.woff2') format('woff2'),
      url('#{$font-file}.woff') format('woff');
    font-weight: $font-weight;
    font-display: $font-display;
    @if $font-style {
      font-style: $font-style;
    }
  }
}
