@use "sass:math";
@use '../../../assets/stylesheets/abstracts/' as _;

.list {
  list-style-type: none;
  padding: 0;
  > li {
    margin: 0 0 0.25em 0;
  }
}

.list--tld {
  li {
    display: flex;
    justify-content: space-between;
  }
}

.list--entries {
  li {
    display: flex;
    flex-direction: column;
    gap: .05em;
  }
  .list__item {
    padding-bottom: 1em;
    border-bottom: 1px dotted _.get-colour('border.light');
    &-datetime {
      color: _.get-colour('text.body');
      min-width: 25%;
      font-family: 'font-a';
      font-size: 0.75em;
    }
  }
}

.list--spaced {
  li {
    margin-bottom: .75em;
  }
  &-l {
   li {
    margin-bottom: 1.5em;
   }
  }
}

.c-poster-list {
  background: #1d70b8;
  padding: 2em;
  padding-left: 2.5em;
  color: #fff;
  font-size: calc(1rem + 0.384vw);
  margin: calc(1.27rem + 0.64vw) auto;
  font-family: 'font-a';
  li:not(:last-child) {
    margin-bottom: 1em;
  }
  li:first-child {
    margin-top: 0;
  }
  @include _.mq($from: large) {
    max-width: calc(100% - 100px);
  }
}

.list--step-by-step {
  @include _.content-width;
  list-style: none;
  counter-reset: sbs-counter;
  margin: 2rem auto;
  padding: 0;
  display: block;
  li {
    counter-increment: sbs-counter;
    font-size: 1em;
    margin: 0;
    padding: 0 0 1.75em 3em;
    &:last-of-type {
      padding-bottom: 0;
    }
    p {
      margin: 0 0 1em 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0.25em;
      left: math.div(2.5em, 3);
      width: 3px;
      height: calc(100%);
      background: #000;
      display: block;
    }
    &:before {
      position: absolute;
      left: 0;
      top: 0.25em;
      content: '0' counter(sbs-counter);
      // font-weight: bold;
      font-size:1em;
      margin-right:0.5rem;
      line-height: 1;
      background: #000;
      color: white;
      padding: 0.35em 0.35em;
      z-index: 100;
      font-family: 'font-a';
    }
  }
}
